.td5{
    text-align: center;
}

tfoot{
    background-color: rgb(78, 162, 177);
    display:inline-flex;
    height:30px;
}
.tempsp2{
    background-color: cadetblue;
    display:inline-flex;
    height:30px;
}
.tempsp3{
    background-color: goldenrod;
    display:inline-flex;
    height:30px;
}